{% extends 'Inicial.html' %}
{% load static %}
<!DOCTYPE html>

<body>
   
    {% block content%}
        {% for item in object_list %}
            <b><p>{{item.descricao}}:</p></b>
            <img class="img_galeria" align="center" src={{item.img.url}} />
            <br></br>
            <b><p>{{item.data}}</p></b>
            <hr>
        {%endfor%}
    <div class="text-right">
        <a href="/" class="btn btn-outline-primary">Voltar</a>
        
    </div>
    {%endblock%}
    
    {%block info%}

    {%endblock info %}
</body>