{% extends 'Inicial.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="g-col-6">
                    {{field.label_tag}}
                    {{ field  }}
            <br></br>
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="/menu/" class="btn btn-outline-primary">Voltar</a>
            <button class="btn btn-primary" >Enviar</button>
        </div>
        <a href="/ver_hospedes/">Ver Hóspedes</a>
    </form>
{% endblock content %}