{% extends 'Inicial.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="g-col-6">
                    {{field.label_tag}}
                    {{ field  }}
            <br></br>
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="/menu/" class="btn btn-outline-primary"><font color = "white">Voltar<font></a>
            <button class="btn btn-primary" >Enviar</button>
        </div>
        <a href="/ver_hospedes/" ><font color = "white">Ver Hóspedes</font></a>
    </form>
    
{% endblock content %}
{%block info%}

{%endblock info%}