{% extends 'Inicial.html' %}
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/styles_Inicial.css' %}"  />
{% block content %}
    
        
        {% for item in object_list %}

        <ol>    
        <b><li></b><b>Código: </b>{{item.codigo }}</li>
        <li><b>Produto: </b>{{ item.produto }}</li>
        <li><b>Quantidade: </b>{{ item.quantidade }}</li>
        </ol>

        
        <form action='/ver_estoque/delete/{{item.pk}}' method = "post">
                {% csrf_token %}
                <button type = "submit">Delete</button>
        </form>
        <hr color="black">
        {% endfor %}

        <div class="text-right">
                <a href="/estoque/" class="btn btn-outline-primary"><font color = "white">Voltar</font></a>
        </div>

        
   
{% endblock content %} 
{%block info%}

{%endblock info%}
