body{
  background-image: url('https://scontent.fpoa5-1.fna.fbcdn.net/v/t39.30808-6/272666291_1352385455206325_2384844791517398328_n.jpg?stp=dst-jpg_p180x540&_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=XTh03BBqrXIAX-7doHO&_nc_ht=scontent.fpoa5-1.fna&oh=00_AfC_tEGz5KLHsWxFD5J46VJDeAVk5QhjKjo2G3-ro0nABQ&oe=63697E66');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

nav {
    margin: 27px auto 0;
    top: 200px;
    position: relative;
    width: 760px;
    height: 50px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    border-radius: 8px;
    font-size: 0;
    font-weight: 700;
  }
  
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none!important;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 150px;
  }
  a:nth-child(2) {
    width: 150px;
  }
  a:nth-child(3) {
    width: 150px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 150px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 150px;
    left: 0;
    background-color: #94dbcd;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 150px;
    left: 150px;
    background-color: #eb9e95;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 150px;
    left: 300px;
    background-color: #a0d4f7;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 450px;
    background-color: #dcb2ec;
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 150px;
    left: 600px;
    background-color: #e4bc9a;
  }
  

  